.dashboard-container {
    background: #f8f9fa;
    min-height: 100vh;
}

.dashboard-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    padding: 1.5rem 2rem;
}

.dashboard-user-info h4 {
    font-size: 1.75rem;
    font-weight: 600;
}

.dashboard-user-info ul li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.dashboard-actions .btn {
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
}

.admin-header-container {
    background-image: url('/public/images/brighterus1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.admin-title {
    font-size: 2.3rem;
    font-weight: 700;
}

.admin-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    padding: 1.5rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    font-weight: bold
}

.profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.dashboard-actions .btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

.card-body {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

form {
    gap: 10px;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    margin: auto;
}

.mb-3 {
    margin-bottom: 30px;
    justify-content: center;
    padding-top: 8px;
}

.custom-card {
    border-radius: 15px !important; /* Adjust border-radius as needed */
    overflow: hidden; /* Ensures child elements (like header) follow rounded corners */
    height: 100%;
}

.card-user {
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
}

.card-courses {
    background: linear-gradient(135deg, #7ed6df, #22a6b3);
}

.card-events {
    background: linear-gradient(135deg, #7e6ff5, #4834d4);
}


.chart-container{
    margin-bottom: 15px;
}

.graph-container {
    background-color: white;
    box-shadow: rgba(122, 99, 41, 0.5) 0px 4px 40px -10px;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
}

canvas {
    width: 100% !important;
    height: auto !important;
    padding: 15px;
}

.card-financialaid {
    background: linear-gradient(135deg, #28a745, #218838);
}

.card-financialaid .card-header {
    background: transparent; /* Remove solid header background */
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
