/* Admin Header */
.admin-header-container {
    background-image: url('/public/images/brighterus1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
form {
    gap: 10px;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    margin: auto;
}
input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 8px!important;
    cursor: pointer;
}
button:hover {
    background: #ff4500;
}

/* User Table */
table {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    text-align: center;
    vertical-align: middle;
    background: #ffa500;
    color: #fff;
}

td button {
    background: #ff4d4d;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
td button:hover {
    background: #cc0000;
}


.modal-header {
    background: #ffa500;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}
